/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run fuxialexander/marvel -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 16
  max_memory = 50.GB
  max_time = 48.h
  name = "test"
  enhancer = "test_input/regions/enhancer.bed"
  promoter = "test_input/regions/promoter.bed"
  vcf = "test_input/variants/test.vcf.gz"
  vcf_index = "test_input/variants/test.vcf.gz.tbi"
  phenocov = "test_input/samples/pheno_covar.txt"
  fasta = "test_input/test.hg19.fa"
  chunk_size = 10
  permutation_multiplier = 3
  motif_scan_threshold = 0.0001
}
