/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run fuxialexander/marvel -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 10
  max_memory = 20.GB
  max_time = 48.h
  regions = "test_input/regions/*.bed"
  vcf = "test_input/variants/test.vcf.gz"
  phenocov = "test_input/samples/pheno_covar.txt"
  fasta = "test_input/hg19.fa"
  chunk_size = 10
  permutation_multiplier = 3
  motif_scan_threshold = 0.0001
}
