/*
 * -------------------------------------------------
 *  Nextflow config file for USCS paths
 * -------------------------------------------------
 * Defines reference genomes, using UCSC paths
 * Can be used by any config that customises the base
 * path using $params.ucsc_base / --ucsc_base
 */

params {
  // UCSC reference file paths
  // TODO nf-core: Add new reference types and strip out those that are not needed
  genomes {
    'ucsc_hg19' {
      fasta   = "${params.ucsc_base}/hg19/bigZips/hg19.fa.gz"
      size    = "${params.ucsc_base}/hg19/bigZips/hg19.chrom.sizes"
    }
    'ucsc_hg38' {
      fasta   = "${params.ucsc_base}/hg38/bigZips/hg38.fa.gz"
      size    = "${params.ucsc_base}/hg38/bigZips/hg38.chrom.sizes"
    }
  }
}
